@font-face {
    font-family: "Trickster";
    src:
            url("../fonts/BNazanin.eot") format("opentype"),
            url("../fonts/BNazanin.ttf") format("truetype"),
            url("../fonts/BNazanin.woff") format("woff"),
            url("../fonts/BNazanin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}